
<div class="welcomePage">

	<div class="divBar">
		<b class="title">&nbsp;FireWater</b>
		<span class="underText">
		Let the party come to you. 
		<u>Wherever</u> you are. </span>


		<div class="navBar">
			<a href="/users/sign_in">
				<button class="welcomeLinks">
				Login
				</button>
			</a>&nbsp;&nbsp;&nbsp;
			<a href="/users/sign_up">
				<button class="welcomeLinks">
				Sign Up
				</button>
			</a>
		</div>
	</div>

	<div class="js-about">
		<p class="js-summary"> What is FireWater? </p>
	</div>

	<div class="js-previewMap cthru">
		<div class="js-showMap"> 
			<h2>Here are the drivers currently in your area: </h2>
		<!-- Map code goes here -->
		</div>
	</div>
	
	<div class="js-preview cthru">
		<!-- preview of stock goes here -->
	</div>

</div>


<!-- 
google maps api key:
 AIzaSyDitmhzs3g-CuSVnFrUb19UarJA3ffKbJk  -->