<div class="welcomePage">

	<div class="divBar">
		<b class="title">&nbsp;FireWater</b>
		<span class="underText">
		Let the party come to you. <br>
		<u>Wherever</u> you are. </span>


		<div class="navBar">
			<button class="welcomeLinks">
				<%= link_to 'Login', new_user_session_path %> 
			</button>
			<button class="welcomeLinks">
				<%= link_to 'Sign Up', new_user_registration_path %>
			</button>
		</div>
	</div>

	<div class="container">
	</div>
	<div class="js-show hidden">
	</div>

</div>