
<div class="welcomePage">

	<div class="divBar">
		<b class="title">&nbsp;FireWater</b>
		<span class="underText">
		Let the party come to you. 
		<u>Wherever</u> you are. </span>


		<div class="navBar">
			<a href="/users/sign_in">
				<button class="welcomeLinks">
				Login
				</button>
			</a>&nbsp;&nbsp;&nbsp;
			<a href="/users/sign_up">
				<button class="welcomeLinks">
				Sign Up
				</button>
			</a>
		</div>
	</div>

	<div class="js-about">
		<div class="holder">
			<p class="js-summary">
			<b class="white">How it Works :</b>
			<blockquote class="js-summary">
				After a simply sign-up process, you will be redirected to the home page. From there, you will see a map displaying available drivers. Once you select a driver, you will then be shown the product's panel, at which point you may choose whichever drink's you prefer. Now don't worry, before anything is confirmed, we will double check the contents of your order via the final order summary panel.
			</blockquote>
				<b class="js-summary white">About : </b>
				<blockquote class="js-summary">
				<span class="js-summary aboutTitle">FireWater </span>
					is a revolutionary new company that specializes in the delivery of spirits, wines, and beers for anything from high-profile events to the smallest backyard barbeques. <br>
					We provide comfort and convenience by ensuring that you do not have to leave whatever event you are at, but most of all, you do not have to drive while under the influence. This last point being especially crucial in keeping our streets and families safe.
				</blockquote>
			</p>
		</div>
	</div>

	<div class="js-previewMap closed">
		<div class="js-showMap">
			<h2>Here are the drivers currently in your area: </h2>

			<!-- Map code goes here -->
			<div id="map"></div>
	        	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDitmhzs3g-CuSVnFrUb19UarJA3ffKbJk">
        		</script>
	        		<script type ="text/javascript" src="http://www.geocodezip.com/scripts/v3_epoly.js">
        		</script>

		</div>
	</div>
	

	<div class="js-preview closed">
		<h2 class="product"> Select products to have delivered:</h2>

		<!-- preview of stock goes here -->
	</div>


</div>