<div class="homePage">

	<div class="topBar">
		<h1> <%= @randomGreet %> <%= @user.first_name %> .</h1>
	</div>



	<div class="navBar">
		<button class="welcomeLinks">
			<%= link_to 'My Account', edit_user_registration_path %>
		</button>
		<button class="welcomeLinks">
			<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
		</button>
	</div>
</div>