<div class="homePage">
	<button class="hidden">X
	</button>

	<div class="divBar">
		<b class="title">&nbsp;FireWater</b>
		<span class="underText">
		<%= @randomGreet %> <%= @user.first_name %> .
		</span>

		<div class="navBar">
			<button class="welcomeLinks">
			<%= link_to 'Account', edit_user_registration_path %>
			</button>
			<button class="welcomeLinks">
			<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
			</button>
		</div>
	</div>

	<div class="js-show opaque">
		<button class="close"> Close </button>
	</div>

</div>