

<div class="welcomePage">

	<div class="divBar">
		<b class="title">&nbsp;FireWater</b>
		<span class="underText">
		<%= @randomGreet %> <%= @user.first_name %> .
		</span>

		<div class="navBar">
			<button class="welcomeLinks">
			<%= link_to 'My Account', edit_user_registration_path %>
			</button>&nbsp;&nbsp;&nbsp;
			<button class="welcomeLinks">
			<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
			</button>
		</div>
	</div>


	<div class="js-product closed">
		<h2 class="closeProduct"> Select all the products you'd like delivered: </h2>
	</div>

	<div class="js-map">
		<!-- <button class="js-closeMap"> Close </button> -->

		<div class="js-showMap"> 
			<h2>Select a Driver in your area: </h2>
		    <!-- Google Maps Added -->
			<div id="map"></div>
	        	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDitmhzs3g-CuSVnFrUb19UarJA3ffKbJk">
        		</script>
	        		<script type ="text/javascript" src="http://www.geocodezip.com/scripts/v3_epoly.js">
        		</script>



		</div>
	</div>
	

	<div class="js-review closed">
		<p class="js-summary"> Your Order Summary:</p>
	</div>

</div>