<div class="backSet">

	<div class="navBar">
		<b class="title">&nbsp;FireWater</b>
		<span class="underText">
		<%= @randomGreet %> <%= @user.first_name %>
		</span>

		<div class="navRight">
			<a href="/users/<%= @current_user.id %>">
			    <button class="navLinks">
			     My Account
			    </button></a>&nbsp;&nbsp;&nbsp;

				<%= link_to(destroy_user_session_path, method: :delete) do %>
					<button class="navLinks">
						Logout
					</button>
				<% end %>		
		</div>
	</div>

</div>