.holder {
	position: relative;
	top: 20px;
	background-color: white;
	margin: 0px 20px 20px 30px;
	opacity: 0.8;
	width: 80%;
	padding: 10px 15px;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	border-radius: 10px;
	box-shadow: 5px 5px 10px #000;
}
//  About Panel (Welcome Page)
.js-about {
	// background: url("store_home1.jpg") no-repeat center center fixed;
	background-color: transparent;
	position: absolute;
	top: 86px;
	left: 0px;
	width: 90%;
	height: 100%;
	// border: dashed;
	// border-width: 2px;
	// border-color: white;
}

// Preview Map display panel
.js-mapPanel {
	background: url("carB.jpeg") no-repeat center center fixed;
	background-size: cover;
	position: absolute;
	top: 86px;
	right: 5%;
	width: 5%;
	height: 100%;
	// border: dashed;
	// border-width: 2px;
	// border-color: white;
	// color: red;
	z-index: -1;
}
.showMap {
	height: 100%;
	text-align: center;

}
.highlight {
	background-color: white;
	text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 2px 2px 2px 0;
    width: 400px;
}
#map {
   height: 70%;
   width: 85%;
   margin: auto;
   opacity: 0.9;
   border: solid black 2px;
   box-shadow: 1px 1px 5px #000;
}

// Product preview (Welcome Page)
.js-previewPanel {
	background: url("store_home1.jpg") no-repeat center center fixed;
	position: absolute;
	top: 86px;
	right: 0;
	width: 5%;
	height: 100%;
	// border: dashed;
	// border-width: 2px;
	// border-color: white;
}
.menu {
	// Keeps all content hidden while panel is closed
}
#btnList {
	display: none;
	position: absolute;
	top: 30px;
	left: -30px;
	list-style: none;
	// border-style: solid;
	// border-width: 2px;
	// border-color: black;
}
.productTable1 {
	// position: absolute;
	// top: 62px;
	// left: 150px;
	background-color: black;
	// margin: auto;
	border: 2px ridge #540000;
	// border-width: 0 0 2px 0;
	// box-shadow: 5px 5px 10px #000;
}
.productTable2 {
	background-color: #B8B8B8;
	border-style: ridge;
	border-width: 6px 12px 12px 12px;
	border-color: rgb(227,187,145);
	margin: auto;
	// border-style: solid;
	// border-width: 2px;
	// border-color: black;
    width: 780px; /* 140px * 5 column + 16px scrollbar width */
    border-spacing: 0;
}
tbody, thead tr { display: block; }
tbody {
    height: 370px;
    overflow-y: auto;
    overflow-x: hidden;
}
// thead th:last-child {
//     width: 156px; /* 140px + 16px scrollbar width */
// }
#sortTable {
    width: 190px;
	background: rgb(240,183,161); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(240,183,161,1) 0%, rgba(140,51,16,1) 21%, rgba(117,34,1,1) 78%, rgba(117,34,1,1) 78%, rgba(191,110,78,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(240,183,161,1) 0%,rgba(140,51,16,1) 21%,rgba(117,34,1,1) 78%,rgba(117,34,1,1) 78%,rgba(191,110,78,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(240,183,161,1) 0%,rgba(140,51,16,1) 21%,rgba(117,34,1,1) 78%,rgba(117,34,1,1) 78%,rgba(191,110,78,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=0 ); // IE
	// border-top: 4px solid #966F33;
    border-bottom: 2px solid #000;
    color: #000;
    font: icon;
    font-weight: bold;
    padding: 10px 10px 10px 20px;
    // background: #f0b7a1; /* Old browsers */
    // background: -o-linear-gradient(blue, #FF0600); /* For Opera 11.1 to 12.0 */
    // background: -moz-linear-gradient(blue, #FF0600); /* For Firefox 3.6 to 15 */
    // background: linear-gradient(blue, #FF0600); /* Standard syntax */
}
#psortTable {
	background: rgb(240,183,161); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(240,183,161,1) 0%, rgba(140,51,16,1) 21%, rgba(117,34,1,1) 78%, rgba(117,34,1,1) 78%, rgba(191,110,78,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(240,183,161,1) 0%,rgba(140,51,16,1) 21%,rgba(117,34,1,1) 78%,rgba(117,34,1,1) 78%,rgba(191,110,78,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(240,183,161,1) 0%,rgba(140,51,16,1) 21%,rgba(117,34,1,1) 78%,rgba(117,34,1,1) 78%,rgba(191,110,78,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=0 ); // IE
    border-bottom: 2px solid #000;
    color: #000;
    font: icon;
    font-weight: bold;
    padding: 10px 10px 10px 20px;
    width: 250px;
}
#pitemTable {
	width: 200px;
	background: #E6BF83;
    border-bottom: 1px solid #fff;
    border-top: 1px solid transparent;
    color: #000;
    padding: 10px;
	background: rgb(227,187,145); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(227,187,145,1) 0%, rgba(172,126,76,1) 50%, rgba(150,109,66,1) 51%, rgba(215,174,131,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(227,187,145,1) 0%,rgba(172,126,76,1) 50%,rgba(150,109,66,1) 51%,rgba(215,174,131,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(227,187,145,1) 0%,rgba(172,126,76,1) 50%,rgba(150,109,66,1) 51%,rgba(215,174,131,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3bb91', endColorstr='#d7ae83',GradientType=0 ); /* IE6-9 */

}
#itemTable {
    width: 140px;
	background: #E6BF83;
    border-bottom: 1px solid #fff;
    border-top: 1px solid transparent;
    color: #000;
    padding: 10px;
	background: rgb(227,187,145); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(227,187,145,1) 0%, rgba(172,126,76,1) 50%, rgba(150,109,66,1) 51%, rgba(215,174,131,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(227,187,145,1) 0%,rgba(172,126,76,1) 50%,rgba(150,109,66,1) 51%,rgba(215,174,131,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(227,187,145,1) 0%,rgba(172,126,76,1) 50%,rgba(150,109,66,1) 51%,rgba(215,174,131,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3bb91', endColorstr='#d7ae83',GradientType=0 ); /* IE6-9 */
}
#typeClick {
	background: #E6BF83;
	width: 70px;
	height: 20px;
    // border-bottom: 7px solid #FFF;
    // border-top: 7px solid #FFF;
    color: red;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    border-style: outset;
    border-width: 1px;
    border-color: red;
	box-shadow: 1px 1px 5px #000;
}
#typeClick:hover {
	background: #966F33;
    color: #000;
    border-style: inset;
	box-shadow: 3px 3px 10px #000;
	animation: blinkBtn 1s linear;
}
@keyframes blinkBtn {
    0% { color  : black; border-color: black; background-color: black;}
    50% { color  : red; border-color: red; background-color: #966F33;}
    100% { color: black; border-color: black; }
}
#rowHover tr:hover td {
	background: #966F33;
    color: #000;
    cursor: pointer;
}
#rowHover tr:hover td:active {
	// background-color: black;
	background: #966F33;
    color: #000;
    border-style: inset;
	box-shadow: 3px 3px 10px #000;
	animation: blinkBtn 1s linear;
}




// --------------------------------------------

// Order Map display panel
.js-mapOrder {
	// background: url("carB.jpg") no-repeat center center fixed;
	position: absolute;
	top: 86px;
	left: 0px;
	width: 90%;
	height: 90%;
	// border: dashed;
	// border-width: 2px;
	// border-color: white;
	// color: white;
	text-align: center;
	// z-index: -1;
}
// Product display panel
.js-product {
	background: url("store_home1.jpg") no-repeat center center fixed;
	position: absolute;
	top: 86px;
	right: 5%;
	width: 5%;
	height: 100%;
	// border: dashed;
	// border-width: 2px;
	// border-color: white;
	// z-index: 1;
}

// Review display panel
.js-review {
	background: url("welcome2.jpg") no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	position: absolute;
	top: 86px;
	right: 0%;
	width: 5%;
	height: 100%;
	// border: dashed;
	// border-width: 2px;
	// border-color: white;
	// z-index: 10;
}


// Closed panel effect
.closed {
	opacity: 0.7;
}
.closed:hover {
	// background-color: black;
	opacity: 1.0;
	filter: alpha(opacity=100);
}

// Doesn't appear until panel is opened
.closed .holder,
.closed .showMap,
.closed .menu {
	display: none;
}






blockquote {
	display: block;
	font-size: 18px;
    -webkit-margin-before: 16px;
    -webkit-margin-after: 36px;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 60px;
}
table { 
	border-collapse:collapse;
}


// Close button display settings
// .js-review button,
// .js-preview button,
// .js-product button,
// .js-map button {
// 	background-color: black;
// 	border-radius: 10px;
// 	color: white;
// }
// .js-review button:hover,
// .js-preview button:hover,
// .js-product button:hover,
// .js-map button:hover {
// 	background-color: #232222;
// }
