//  About Panel (Welcome Page)
.js-about {
	// background: url("store_home1.jpg") no-repeat center center fixed;
	// background-color: black;
	position: absolute;
	top: 90px;
	left: 0px;
	width: 90%;
	height: 100%;
	// border: dashed;
	// border-width: 2px;
	// border-color: white;
}
.summary {
	color: white;
	font-size: 24px;
	// text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

// Map display panel
.js-previewMap {
	background: url("carB.jpeg") no-repeat center center fixed;
	background-size: cover;
	position: absolute;
	top: 90px;
	right: 5%;
	width: 5%;
	height: 100%;
	border: dashed;
	border-width: 2px;
	border-color: white;
	color: red;
	text-align: center;
	z-index: -1;
}
// Product preview (Welcome Page)
.js-preview {
	background: url("store_home1.jpg") no-repeat center center fixed;
	position: absolute;
	top: 90px;
	right: 0;
	width: 5%;
	height: 100%;
	border: dashed;
	border-width: 2px;
	border-color: white;
}
.productTable {
	background-color: white;
	margin: auto;
	padding: 20px;
	opacity: 0.7;
}

// --------------------------------------------
// Map display panel
.js-map {
	background: url("carA.jpg") no-repeat center center fixed;
	position: absolute;
	top: 90px;
	left: 0px;
	width: 90%;
	height: 90%;
	border: dashed;
	border-width: 2px;
	border-color: white;
	color: white;
	text-align: center;
	z-index: -1;
}
// .js-map button {
// 	float:right;
// }

// Product display panel
.js-product {
	background: url("store_home1.jpg") no-repeat center center fixed;
	position: absolute;
	top: 90px;
	right: 5%;
	width: 5%;
	height: 100%;
	border: dashed;
	border-width: 2px;
	border-color: white;
	z-index: 1;
}
// Review display panel
.js-review {
	background: url("welcome2.jpg") no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	position: absolute;
	top: 90px;
	right: 0%;
	width: 5%;
	height: 100%;
	border: dashed;
	border-width: 2px;
	border-color: white;
	z-index: 10;
}


// Closed panel effect
.closed {
	opacity: 0.8;
}
.closed:hover {
	background-color: black;
	opacity: 1.0;
	filter: alpha(opacity=100);
}
// Doesn't appear until panel is opened
.closed .js-aboutP,
.closed .js-closeMap,
.closed .js-showMap,
.closed .product,
.closed .productTable,
// .closed .sortable,
.closed .summary,
.closed .aboutStart,
.closed .holder {
	display: none;
}






// #map-container {
//    height: 400px;
//    border-radius: 16px 16px;
//    border-color: #fff;
//    border-style: solid;
//    box-shadow: 2px 2px 10px #B1B1B1;
//    margin-top: 25px;
//    border-width: 7px;
//  }
.js-showMap {
	height: 100%;
}
 #map {
   height: 70%;
   width: 85%;
   margin: auto;
   opacity: 0.9;
 }



// Close button display settings
// .js-review button,
// .js-preview button,
// .js-product button,
// .js-map button {
// 	background-color: black;
// 	border-radius: 10px;
// 	color: white;
// }
// .js-review button:hover,
// .js-preview button:hover,
// .js-product button:hover,
// .js-map button:hover {
// 	background-color: #232222;
// }
