.welcomePage {
	background: url("welcome3.jpg") no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-color: black;
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 1024px;
	/* Set up proportionate scaling */
	width: 100%;
	height: auto;
	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;
}

.homePage {
	background: url("store_home1.jpg") no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-color: black;
	color: white;
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 1024px;
	/* Set up proportionate scaling */
	width: 100%;
	height: auto;
	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;
}
.userBase {
	background: url("matrix.gif") no-repeat center center fixed;
	background-size: cover;
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 1024px;
	/* Set up proportionate scaling */
	width: 100%;
	height: auto;
	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;

	font-size: 150%;
	color: white;
}

.divBar {
	background-image: url("fire_shotE.jpg");
	background-size: 60px 85px;
	background-position: left top;
	background-repeat: no-repeat;
	background-color: rgba(0, 0, 0, 0.5);
    -pie-background:  rgba(0, 0, 0, 0.5);
    behavior: url(PIE.htc);
	position: absolute;
	left: 0;
	top: 0; 
	width: 100%;
	height: 70px;
	padding: 5px;
	border-style: solid solid double solid;
}

.navBar {
	display: inline;
	position: absolute;
	right: 50px;
	top: 20px;
}
.welcomeLinks {
	background-color: transparent;
	height: 45px;
	width: 100px;
	color: white;
	border-radius: 5px;
	border-width: 3px;
	border-color: #FFF;
	// border-style: outset;
}
.welcomeLinks:hover {
	background-color: #000;
	border-style: inset;
	border-color: red;
	color: red !important;
	// opacity: 0.5;
}

.title {
	// display: inline;
	font-size: 48px;
	// margin-right: 10px;
	margin-left: 2em;
	// color: #CA0008;
	animation: blink 2s linear infinite;
}
@keyframes blink {
    0% { color  : red; }
    49% { color : #CA0008; }
    50% { color : blue; }
    100% { color: #CA0008; }
}
// Blink using JS
// .blinking {
// 	color: red;
// }

.underText {
	// display: inline-block;
	position: relative;
	top:20px;
	left: -170px;
	margin-top: 10px;
	color: white;
}

// .deviseContainer {
// 	background: url('bar_display.jpg');
// 	opacity: 0.4;
// }
body {
	background: url("fire_shot.jpg") no-repeat center center fixed;
	// background-color: #71C2F3;
	background-size: cover;
	width: 100%;
	height: 100%;
}
.prettyDevise {
	background-color: grey;
	// text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	position: relative;
	top: 40px;
	width: 300px;
	height: auto;
	border-color: white;
	border-width: 2px;
	padding: 4px 0px 15px 15px;
	margin: 0 0 50px 45px;
	border-style: solid;
	border-color: white;
	border-width: 2px;
	// box-shadow: 5px 2px 3px #888888, -1px -1px 3px #888888 ;
	opacity: 0.8;
	text-align: center;
}








.baseImg {
	float: right;
}

a {
	font-weight: bold;
	color: #CA0008;
	// text-decoration: none;
}
// a:hover {
// 	color: red;
// }
